<ion-view title="Add Device" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="addDevice-form3" class="list">
      <label class="item item-input" id="addDevice-input4">
        <span class="input-label">Name</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <h4 id="addDevice-heading12" style="color:#000000;">Gadget type</h4>
    <ion-list id="addDevice-list1">
      <ion-radio id="addDevice-radio2">Timer</ion-radio>
      <ion-radio id="addDevice-radio1">Temp sensor</ion-radio>
      <ion-item id="addDevice-list-item4">Item 1</ion-item>
      <ion-item id="addDevice-list-item5">Item 2</ion-item>
      <ion-item id="addDevice-list-item6">Item 3</ion-item>
    </ion-list>
    <a ui-sref="tabsController.dashboardDevices" id="addDevice-button7" class="button button-positive  button-block">Save</a>
    <a ui-sref="tabsController.dashboardDevices" id="addDevice-button21" class="button button-stable  button-block">Cancel</a>
  </ion-content>
</ion-view>