<ion-view title="Add Device" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="addDevice-form3" class="list">
      <label class="item item-input" id="addDevice-input4">
        <span class="input-label">Name</span>
        <input id="deviceName" type="text" placeholder="" ng-model="device.name">
      </label>
    </form>
    <h4 id="addDevice-heading12" style="color:#000000;">Device Type</h4>
    <ion-list id="addDevice-list1">
      <ion-radio ng-model="device.type" ng-value="'timer'" id="addDevice-radio2">Timer</ion-radio>
      <ion-radio ng-model="device.type" ng-value="'temperature'" id="addDevice-radio1">Temp Sensor</ion-radio>
      <div ng-repeat="sensor in sensors">
        <ion-item ng-show="device.type==='temperature'" id="addDevice-list-item4">{{sensor.id}}</ion-item>
      </div>
    </ion-list>
    <a ng-click="save()" ui-sref="tabsController.dashboardDevices" id="addDevice-button7" class="button button-positive  button-block">Save</a>
    <a ui-sref="tabsController.dashboardDevices" id="addDevice-button21" class="button button-stable  button-block">Cancel</a>
  </ion-content>
</ion-view>