<ion-view title="Dashboard" id="page2">
  <ion-content padding="true" class="has-header">
    <a ui-sref="tabsController.editTemperature" id="dashboard-button1" style="font-size:25px;text-align:left;border-radius:10px 10px 10px 10px;" class="button button-light button-small button-block icon-right ion-edit">Grill</a>
    <div class="row">
      <div class="col">Current
        <br> 110
      </div>
      <div class="col">Target
        <br> 130
      </div>
    </div>
    <a ui-sref="tabsController.editTemperature" id="dashboard-button2" style="font-size:25px;text-align:left;border-radius:10px 10px 10px 10px;" class="button button-light button-small button-block icon-right ion-edit">Meat 1</a>
    <div class="row">
      <div class="col">Current
        <br> 70
      </div>
      <div class="col">Target
        <br> 88
      </div>
    </div>
    <a ui-sref="tabsController.editTemperature" id="dashboard-button3" style="font-size:25px;text-align:left;border-radius:10px 10px 10px 10px;" class="button button-light button-small button-block icon-right ion-edit">Meat 2</a>
    <div class="row">
      <div class="col">Current
        <br> 70
      </div>
      <div class="col">Target
        <br> 88
      </div>
    </div>
    <a ui-sref="tabsController.editTimer" id="dashboard-button4" style="font-size:25px;text-align:left;border-radius:10px 10px 10px 10px;" class="button button-light button-small button-block icon-right ion-edit">Timer</a>
    <div class="row">
      <div class="col">Elapsed
        <br> 1:20:30
      </div>
      <div class="col">Left
        <br> 1:20:32
      </div>
    </div>
  </ion-content>
</ion-view>