<ion-view title="Dashboard" id="page2">
  <ion-content padding="true" class="has-header">
    <div ng-repeat="device in devices">
      <a ui-sref="tabsController.editTemperature" id="dashboard-button1" style="font-size:25px;text-align:left;border-radius:10px 10px 10px 10px;" class="button button-light button-small button-block icon-right ion-edit">{{device.name}}</a>
      <div class="row">
        <div class="col" ng-show="device.type==='temperature'">Current
          <br> {{device.currentTemp}}
        </div>
        <div class="col" ng-show="device.type==='timer'">Elapsed
          <br> {{device.elapsedTime}}
        </div>
        <div class="col" ng-show="device.type==='temperature'">Target
          <br> {{device.targetTemp}}
        </div>
        <div class="col" ng-show="device.type==='timer'">Elapsed
          <br> {{device.timeLeft}}
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>