<ion-view title="Dashboard Devices" id="page8">
  <ion-content padding="true" class="has-header">
    <div ng-repeat="device in devices">
      <a ng-click="setDevice(device)" ui-sref="tabsController.editDevice" id="dashboard-button1" style="font-size:25px;text-align:left;border-radius:10px 10px 10px 10px;" class="button button-light button-small button-block icon-right ion-edit">{{device.name}}</a>
    </div>
    <a ui-sref="tabsController.addDevice" id="dashboardDevices-button13" class="button button-positive  button-block">Add Device</a>
  </ion-content>
</ion-view>