<ion-view title="Dashboard Devices" id="page8">
  <ion-content padding="true" class="has-header">
    <a ui-sref="tabsController.editDevice" id="dashboardDevices-button9" style="font-size:25px;text-align:left;border-radius:10px 10px 10px 10px;" class="button button-light button-small button-block icon-right ion-edit">Grill</a>
    <a ui-sref="tabsController.editDevice" id="dashboardDevices-button10" style="font-size:25px;text-align:left;border-radius:10px 10px 10px 10px;" class="button button-light button-small button-block icon-right ion-edit">Meat 1</a>
    <a ui-sref="tabsController.editDevice" id="dashboardDevices-button11" style="font-size:25px;text-align:left;border-radius:10px 10px 10px 10px;" class="button button-light button-small button-block icon-right ion-edit">Meat 2</a>
    <a ui-sref="tabsController.editDevice" id="dashboardDevices-button12" style="font-size:25px;text-align:left;border-radius:10px 10px 10px 10px;" class="button button-light button-small button-block icon-right ion-edit">Timer</a>
    <a ui-sref="tabsController.addDevice" id="dashboardDevices-button13" class="button button-positive  button-block">Add Device</a>
  </ion-content>
</ion-view>