<ion-view title="Delete Device" id="page11">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 65px;"></div>
    <h4 id="deleteDevice-heading18" style="color:#000000;text-align:center;">Are You Sure?</h4>
    <div class="spacer" style="width: 300px; height: 24px;"></div>
    <a ui-sref="tabsController.dashboardDevices" id="deleteDevice-button19" class="button button-positive  button-block">Yes</a>
    <a ui-sref="tabsController.editDevice" id="deleteDevice-button20" class="button button-stable  button-block">No</a>
  </ion-content>
</ion-view>