<ion-view title="Edit Timer" id="page9">
  <ion-content padding="true" class="has-header">
    <form id="editTimer-form4" class="list">
      <h3 id="editTimer-heading15" style="color:#000000;">DeviceName</h3>
      <h5 id="editTimer-heading16" style="color:#000000;">Alarm Time</h5>
      <a ui-sref="tabsController.dashboard" id="editTimer-button14" class="button button-positive  button-block">Save</a>
      <a ui-sref="tabsController.dashboard" id="editTimer-button9" class="button button-stable  button-block">Cancel</a>
    </form>
  </ion-content>
</ion-view>