<ion-view title="Edit Temperature" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="editTemperature-form1" class="list">
      <h3 id="editTemperature-heading10" style="color:#000000;">{{deviceName}}</h3>
      <h5 id="editTemperature-heading11" style="color:#000000;">Target Temperature (&degC)</h5>
      <label class="item item-input" id="editTemperature-input1">
        <input style="text-align:center" id="temp-input" type="text" ng-model="slider.value">
      </label>
      <ion-item class="range range-positive" id="editTemperature-range1">
        <input id="temp-slider" ng-change="clearMeatSelections()" type="range" ng-model="slider.value" min="0" max="200" step="1">
      </ion-item>
      <label class="item item-select" id="editTemperature-select1">
        <span class="input-label">Meat Category</span>
        <select ng-model="cat.meatCat" ng-options="meatCategory.categoryName for meatCategory in meatCategories">
          <option value="">None</option>
        </select>
      </label>
      <label ng-show="cat.meatCat" class="item item-select" id="editTemperature-select2">
        <span class="input-label">Meat Type</span>
        <select ng-change="setTemp(meat.meat.temp)" ng-model="meat.meat" ng-options="meat.name for meat in cat.meatCat.meatList">
          <option value="">None</option>
        </select>
      </label>
      <a ng-click="save()" ui-sref="tabsController.dashboard" id="editTemperature-button8" class="button button-positive  button-block">Save</a>
      <a ui-sref="tabsController.dashboard" id="editTemperature-button9" class="button button-stable  button-block">Cancel</a>
    </form>
  </ion-content>
</ion-view>