<ion-view title="Graphs" id="page3">
  <ion-content padding="true" class="has-header">
    <h3 id="graphs-heading4" style="color:#000000;">Grill</h3>
    <p>
      Add some
      <b>HTML</b> for
      <u>flavor</u>
    </p>
    <h3 id="graphs-heading5" style="color:#000000;">Meat 1</h3>
    <p>
      Add some
      <b>HTML</b> for
      <u>flavor</u>
    </p>
    <h3 id="graphs-heading6" style="color:#000000;">Meat 2</h3>
    <p>
      Add some
      <b>HTML</b> for
      <u>flavor</u>
    </p>
  </ion-content>
</ion-view>