<ion-view title="Settings" id="page4">
  <ion-content padding="true" class="has-header">
    <h4 id="settings-heading13" style="color:#000000;">Dashboard</h4>
    <a ui-sref="tabsController.dashboardDevices" id="settings-button5" class="button button-positive  button-block">Configure Devices</a>
    <h4 id="settings-heading14" style="color:#000000;">Network</h4>
    <form id="settings-form2" class="list">
      <label class="item item-input" id="settings-input3">
        <span class="input-label">Server IP Address</span>
        <input type="text" placeholder="">
      </label>
    </form>
  </ion-content>
</ion-view>